.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
*.pyc
.idea/
hamcontestanalysis.egg-info/
.python-version
.env
.vscode/
*.html
.DS_Store